<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deep.englishdictionarymerged">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OnlineActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".MainActivity">

        </activity>
        <activity
            android:name=".WordMeaning"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".NotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="deepti.lok.action.DISPLAY_NOTIFICATION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>